html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body{
  font-family: 'Roboto', 'sans-serif';
	background-color: #4E646A;
	margin: 0;
	padding: 0;
  }

header{
  padding: 0 0;
}  

main {
 display: inline-block;
}
.img{
  margin-left: 500px;
	align-content: center;
}

.coment{
  color: white;
  background-color: black;
  height: 70px;
  width: 300px;
  text-align: left;
  border-radius: 25px;
 	text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 500px;
	padding: 20px;
 }
.com{
  margin-bottom: 5px;
}

#logo{
  float: left;
  position: relative;
  left: 10%;
  right: 80%;
  height: 64px;
}

.container{
  position: fixed;
  width: 100%;
	margin: 0 auto;
  height: 64px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #00334F;
	z-index: 10;
}
.com{
  margin-top: 5px;
  margin-bottom: 5px;
}

nav{
  position:absolute;
  left: 50%;
  right: 40px;
	top:0px;
	text-align: center;
  }

nav li{
  display: inline-block;
  margin: 10px 0 0 0px;
}

nav a{
  display: block;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  left: 70%;
  right: 50%;
  top: 0%;
  bottom: 0%;
  background: #00334F;
  border: none;
  color: #FFF;
  text-decoration: none;
  font-family: sans-serif;
  margin: 0;
  text-align: center;
  transition: all 0.5s;
  }

nav a:hover{
	background: #79CECE;
  display:block;
  }

nav ul ul{
  position: absolute;
  min-width: 200px;
  display: none;
  background: #00334F;
}
nav ul ul li{
  display: block;
  background: #00334F;
}

nav ul li:hover ul{
  display:block;
}


footer{
  background-color: #00334F;
	height: 150px;
	margin: 0 0 0 0;
}  

footer .rodape{
  float: left;
  width: 40%;
  margin: 20px 0 0 30px;
}

footer .rodape a {
	text-decoration: none;
	color: #FFF;
}

footer .rodape2 {
	float: right;
	width: 60%;
	margin-top: -50px;

}

footer .rodape2 ul li{
	color: #fff;
	text-align: center;
	padding: 5px;
	margin-right: 70%;
}

